@font-face {
    font-family: 'wotfard';
    src: url('../../fonts/wotfard-extralight-webfont.woff2') format('woff2'),
         url('../../fonts/wotfard-extralight-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;

}

@font-face {
    font-family: 'wotfard';
    src: url('../../fonts/wotfard-light-webfont.woff2') format('woff2'),
         url('../../fonts/wotfard-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}


@font-face {
    font-family: 'wotfard';
    src: url('../../fonts/wotfard-regular-webfont.woff2') format('woff2'),
         url('../../fonts/wotfard-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'wotfard';
    src: url('../../fonts/wotfard-medium-webfont.woff2') format('woff2'),
         url('../../fonts/wotfard-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}