@import "colors";

.home-page {

  .hero-section {
    background-image: linear-gradient(45deg, #15c1ff 0%, $logoBlue1 20%, $logoBlue2 80%, #142c56 100%);
    background-image: linear-gradient(90deg, $logoBlue1 0%, $logoBlue2 100%);
    perspective: 200px;
    color:white;
    overflow:hidden;

    h1 {
      // text-transform: uppercase;
      // text-align: center;
      // text-shadow: 20px -3px 16px rgba(0,0,0,.25);
      // transform-origin: center center;
      // transform: rotateX(0deg) rotateY(20deg) rotateZ(0deg);
    }

    h2 {

    }
  }

  .grid-svg {
    position: absolute;
    left:0%;
    top:-100%;
    width:210%;
    height:300%;
    transform-origin: center left;
    max-width:500%;
    transform: rotateX(0deg) rotateY(10deg) rotateZ(0deg);
  }

  .main-section {
    background: $logoBlue2;
  }

  .neumorphic {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content:center;
    flex-wrap: wrap;
    height: 200px;
    width: 200px;
    background:$logoBlue1;
    border-radius: 40px;
    overflow: hidden;
    text-align: center;
    text-transform:uppercase;
    color:white;
    margin:20px;            

    i {
      font-size:30px;
      color:white;
    }
  }

  .neumorphic-up {
    box-shadow: 5px 5px 16px 0 rgba(0, 0, 0, 0.25),
    -3px -3px 12px 0 rgba(255, 255, 255, 0.2);
  }

  .neumorphic-down {
    box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.2),
    -12px -12px 24px 0 rgba(255, 255, 255, 0.5);
    box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.25);
  }
}

// 1024px And Below
@media screen and (max-width: 1024px){

	.home-page {

	}
}


// 767px And Below
@media screen and (max-width: 767px){

	.home-page {

	}
}
