$black:#000000;
$white:#FFFFFF;
$gray:#2E2E2E;
$offWhite:#EFEFEF;
$logoBlue:#2D597E;
$logoLightBlue:#2887BC;
$blue:#0090FF;
$orange:#FA6700;
$lightOrange:#FA9500;

.hero-section {
  z-index:2;
  
  .content {
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    max-width:880px;
    padding-top:100px;
  }

  h1 {
    margin-bottom:18px;
  }

  p {
    margin-top:22px;
  }

  .hr-container {
    width:100%;
    text-align: center;
    height:auto;
  }

  hr {
    text-align: center;
    display: block;
    margin:0 auto;
  }

  .seemax-button {
    margin-top:26px;
  }

  .contact-links {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    width:100%;

    a {
      color:$gray;
    }
  }

  .single-contact-link {
    margin-top:40px;
  }

  .contact-subtitle {
    width:100%;
    color:$lightOrange;
  }
}

.blue-hero {
  padding:95px 50px;
  // font-weight:400;

  .content {
    max-width:1060px;
    padding:50px 40px 45px 40px;
  }

  h1 {
    color:white;
  }
}

.blue-hero-container {
  max-width:550px;
}



// 1024px And Below
@media screen and (max-width: 1024px){

  .hero-section {


    .content {

    }
  }
}

// 767px And Below
@media screen and (max-width: 767px){

  .hero-section {

  }

  .blue-hero {
    padding:75px 24px;

    .content {
      max-width:1060px;
      padding:60px 26px 70px 26px;
    }
  }
}
