.our-people-section {

  .content {
    padding-bottom:40px;
  }

  .our-people-anchor {
    width:100%;
    height:auto;
  }

  .h1 {
    margin-bottom:60px;
  }

  .single-person {
    position: relative;
    width:31%;
    margin:80px 1% 60px 1%;
    padding:110px 50px 30px 40px;
    text-align:center;

    p {
      margin-top:10px;
    }
  }
  
  .person-image-container {
    display: flex;
    justify-content: center;
    align-items:center;
    width:160px;
    height:160px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top:-80px;
    left:0;
    right:0;
    margin:0 auto;

    img {
      width:100%;
    }
  }
  
}



// 1024px And Below
@media screen and (max-width: 1024px){
  .our-people-section {
    
    .single-person {
      position: relative;
      width:48%;
    }
  }
}

// 767px And Below
@media screen and (max-width: 767px){

  .our-people-section {
    .single-person {
      position: relative;
      width:100%;
      margin-left:0;
      margin-right:0;
    }
  }
}
